apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-deployment
  namespace: dev
spec:
  replicas: 2
  selector: 
    matchLabels:
      app: demo
      env: dev
  template:
    metadata: 
      labels:
        app: demo
        env: dev
    spec:
      containers:
        - name: app
          image: busybox
          command: ['sh', '-c', 'sleep 9600']


