apiVersion: v1
kind: Pod
metadata:
  name: limited-pod
  namespace: dev
spec:
  containers:
    - name: dev
      image: busybox
      command: ['sh', '-c', 'sleep 7200']
      resources:
        requests:
          cpu: "100m"
          memory: "64Mi"
        limits:
          cpu: "200m"
          memory: "128Mi"

