services:
  backend:
    build: ./backend
    ports:
      - "4000:4000"
    depends_on:
      - redis

  redis:
    image: redis:alpine
    volumes:
      -  dp_data:/data
    ports:
      -  "6000:6000"

volumes:
  dp_data:

