apiVersion: v1
kind: Pod
metadata: 
  name: 1-config
spec: 
  containers:
    - name: app
      image: busybox
      command: ['sh', '-c', 'sleep 600']
      volumeMounts:
        - name: config-volume
          mountPath: /config
  
  volumes:
    - name: config-volume
      configMap:
        name: app-config-1