apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-readiness-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx-readiness
  template:
    metadata:
      labels:
        app: nginx-readiness
    spec:
      containers:
      - name: nginx-readiness
        image: nginx
        ports:
        - containerPort: 80
      
        readinessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 5
          periodSeconds: 5
          successThreshold: 3

