apiVersion: apps/v1
kind: Deployment
metadata:
  name: task-service
  namespace: task
spec:
  replicas: 2
  selector:
    matchLabels:
      app: task-service
  template:
    metadata:
      labels:
        app: task-service
    spec:
      containers:
        - name: task-service
          image: diwakar5041/task-service:2.0
          ports:
            - containerPort: 3000
          envFrom:
            - configMapRef:
              name: task-config
            - secretRef:
              name: task-secret
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "200m"
              memory: "256Mi"

