* {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    width: 100vw;
    background-color: rgb(173, 173, 173);
    color: rgb(56, 98, 249);
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.heading {
    font-size: 40px;
    color: rgb(3, 43, 144);

}

.btn {
    padding: 14px 34px;
    margin: 30px;
    border-radius: 15px;
}

#output {
    font-size: 12px;
    color: greenyellow;

}