name: DevSecOps Trivy CI

on:
  push:
    branches:
      - main
    paths:
      - 'Learnings/CI-CD/3-devsecops-trivy-node/**'

jobs:
  security-scan:
    runs-on: ubuntu-latest

    defaults: 
      run:
        working-directory: Learnings/CI-CD/3-devsecops-trivy-node
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3

      - name: Install Dependencies
        run: npm ci

      - name: Run Unit Tests
        run: npm test

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker Image
        run: docker build -t diwakar5041/devsecops-app:${{ github.sha }} .

      - name: Scan Docker Image with Trivy
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: 'diwakar5041/devsecops-app:${{ github.sha }}'
          format: 'table'
          exit-code: '1'
          severity: 'HIGH,CRITICAL'

      - name: Push Docker Image
        run: docker push diwakar5041/devsecops-app:${{ github.sha }}

