name: Node CI Pipeline

on:
  push:
    branches:
      - main
    paths:
      - 'Learnings/CI-CD/1-ci-phase1-node/**'   

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: Learnings/CI-CD/1-ci-phase1-node

    steps:

      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18
        
      - name: Install Dependencies
        run: npm ci

      - name: Run Unit Tests
        run: npm test

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: build-artifact
          path: Learnings/CI-CD/1-ci-phase1-node/build/


