apiVersion: v1
kind: Pod
metadata:
  name: extra-pod
  namespace: dev
  labels:
    env: dev
  annotations: 
    owner: diwakar
    purpose: learning-annotations
    lastUpdated: "2025-12-23"
spec:
  containers:
    - name: app
      image: nginx
      resources:
        requests:
          cpu: "100m"
          memory: "128Mi"
        limits:
          cpu: "200m"
          memory: "256Mi"

