apiVersion: v1
kind: Pod
metadata:
  name: first-rq-pod
  namespace: dev
spec:
  containers:
    - name: app
      image: busybox
      command: ['sh', '-c', 'sleep 7200']
      resources:
        requests:
          cpu: "100m"
          memory: "100Mi"
        limits:
          cpu: "100m"
          memory: "100Mi"


